<a href="https://colab.research.google.com/github/pareshbadgujar2000/Python/blob/main/Email_spam_clasification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dataset_link=https://drive.google.com/file/d/1vBFx...

In [43]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.model_selection import train_test_split
from sklearn import svm

In [44]:
data=pd.read_csv('/content/spam.csv')

In [45]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,5562,5563,5564,5565,5566,5567,5568,5569,5570,5571
Label,ham,ham,spam,ham,ham,spam,ham,ham,spam,spam,...,ham,ham,ham,ham,spam,spam,ham,ham,ham,ham
EmailText,"Go until jurong point, crazy.. Available only ...",Ok lar... Joking wif u oni...,Free entry in 2 a wkly comp to win FA Cup fina...,U dun say so early hor... U c already then say...,"Nah I don't think he goes to usf, he lives aro...",FreeMsg Hey there darling it's been 3 week's n...,Even my brother is not like to speak with me. ...,As per your request 'Melle Melle (Oru Minnamin...,WINNER!! As a valued network customer you have...,Had your mobile 11 months or more? U R entitle...,...,Ok lor... Sony ericsson salesman... I ask shuh...,Ard 6 like dat lor.,Why don't you wait 'til at least wednesday to ...,Huh y lei...,REMINDER FROM O2: To get 2.50 pounds free call...,This is the 2nd time we have tried 2 contact u...,Will Ã_ b going to esplanade fr home?,"Pity, * was in mood for that. So...any other s...",The guy did some bitching but I acted like i'd...,Rofl. Its true to its name

In [46]:
data.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [47]:
x=data["EmailText"]
y=data["Label"]

In [48]:
 x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2,random_state=20)

In [49]:
x_train

3705    Reading gud habit.. Nan bari hudgi yorge patai...
1649                       ITS A LAPTOP TAKE IT WITH YOU.
4833                        I hope your pee burns tonite.
919                 Dont talk to him ever ok its my word.
3856    No! But we found a diff farm shop to buy some ...
                              ...
1607    Jus telling u dat i'll b leaving 4 shanghai on...
3915                                        Ok. C u then.
1428    Tell you what, if you make a little spreadshee...
4367    1 I don't have her number and 2 its gonna be a...
2522    Dunno lei... I might b eatin wif my frens... I...
Name: EmailText, Length: 4457, dtype: object

In [50]:
len(x_train)

4457

In [51]:
y_train

3705    ham
1649    ham
4833    ham
919     ham
3856    ham
       ...
1607    ham
3915    ham
1428    ham
4367    ham
2522    ham
Name: Label, Length: 4457, dtype: object

In [52]:
len(y_train)

4457

In [53]:
x_test

4732    Good Morning my Dear Shijutta........... Have ...
4952    I lost 4 pounds since my doc visit last week w...
3724                   Nothing spl..wat abt u and whr ru?
5261    I absolutely LOVE South Park! I only recently ...
1274    Let me know how to contact you. I've you settl...
                              ...
1388       Oh k.i think most of wi and nz players unsold.
4742    I am in hospital da. . I will return home in e...
5551    Wen did you get so spiritual and deep. That's ...
3452    Nowadays people are notixiquating the laxinorf...
226     Will u meet ur dream partner soon? Is ur caree...
Name: EmailText, Length: 1115, dtype: object

In [54]:
len(x_test)

1115

In [55]:
len(y_test)

1115

In [56]:
cv=CountVectorizer()
feature=cv.fit_transform(x_train)

In [32]:
model=svm.SVC()
model.fit(feature,y_train)

SVC()

In [57]:
testing_feature=cv.transform(x_test)

In [58]:
testing_feature

<1115x7735 sparse matrix of type '<class 'numpy.int64'>'
	with 14114 stored elements in Compressed Sparse Row format>

In [59]:
model.score(testing_feature,y_test)

0.9847533632286996